# Node.js / Express specific
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
